.timeContainer{
    display: flex;
    margin-bottom: 20px;
 
 

}

.receipeTime{
    width: 178px;
   
    

}
.receipeTime2{
    width: 210px;
}
.receipeTimeLower{
    width:250px
}
.receipeTimeHead{
    letter-spacing: .094rem;
    color: #000;
    line-height: .625rem;
}

.recipeTimeHead{
    margin-bottom: 0.625rem;
    font-weight: 400;
    font-size: .75rem;
    letter-spacing: .094rem;
}