.navCatagoriesConatiner{
    padding-left: 14.5rem;
    background-color: rgb(248,245,240);
}
.catagoryUllist{
    display: flex;
    list-style: none;
}
.catagoryUllist li{
 padding: .6875rem 1rem;
 letter-spacing: .125rem;
 font-size: 12px;


}


